*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #183463;
}

#container{
    width: 800px;
    height: 600px;
    border: 5px solid black;
    margin: 50px auto;
    position: relative;
    overflow: hidden;/*Pode ser hidden ou scroll*/
    /*Geralmente se usa um posicionamento relativo para controlar outro posicionamento absoluto*/
}

#background{
    width: 800px;
    height: 600px;
}

#personagem{
    width: 100px;
    height: 90px;
    position: absolute;/*static deixa no modo padrão, ou seja cada elemento ocupa uma linha*/
    top:200px;/*Essaspropriedades so ficam habilitadas com um posicionamento diferente de static*/ 
    left:200px;/*Se movimenta um elemento atravez do ponto superior esquerdo*/
    /*No posicionamento relativo a posição original é mantida como ponto de referencia. Diferente do absolute*/
    /* O absolute pega como ponto de referencia elementos com o posicionamento diferente de static, e se não achar pega o corpo da pagina. */
    /* Quando se movimenta um elemento por exemplo em 800px, e ele tem largura de 100px, tem que entender que ele ira até os 900px , pois o ponto de referencia é o ponto superior esquerdo*/
    overflow: hidden;
}

#personagem img{
    width: 300px;
    position: absolute;
}

.movimento{ 
    animation: movimento 500ms steps(3) infinite;
}

.parabaixo{
    top:-15px;
}

.paracima{
   top: -298px;
}

.paraesquerda{
    top: -200px;
}

.paradireita{
    top: -110px;
}

@keyframes movimento {
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(-100%,0,0);
    }
}